body{
    margin:0;
    padding:0
}

#rain
{
    position:relative;
    width:100%;
    height:100vh;
    background:url("bg.jpg");
    background-size:cover;
    animation-name:color-change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;/* plat the animation with the same speed from beginnig to end*/
}

#rain::before{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:url("rain.png");
    animation: rain 0.5s linear infinite;
}

@keyframes color-change
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);/*color-pattern rotation*/
    }
}


@keyframes rain{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 10% 100%;
    }

}